*{
    margin: 0;
    scroll-behavior: smooth;
}

a:hover, .db:hover{
    cursor: url("images/spatula.png"), auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #f1f1f1;
    background-image: url("images/bkBackSVG.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 170px;
}

header h1{
    margin-top: 5px;
    font-family: "Flame", sans-serif;
    font-size: 32px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.headerDisplay{
    font-family: "Flame", sans-serif;
    font-size: 21px;
}

main{
    font-family: "Flame", sans-serif;
    color: rgb(70, 32, 32)
}

main p{
    font-size: 1.1em;
}

.shortHr{
    width: 100px;
    margin: 15px 0;
    border: 1px solid rgb(70, 32, 32);
}

.mainDivisions{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

.mainDivisions img{
    min-width: 35%;
    max-width: 50%;
    padding-bottom: 90px;
}

.centerHome{
    background-color: #e7e7e7;
    padding: 40px 20px;
    box-shadow: 10px 0 18px -6px rgba(0, 0, 0, 0.5),
    -10px 0 18px -6px rgba(0, 0, 0, 0.5);
    clip-path: inset(0px -50px 0px -50px);
    z-index: 1;
}

.centerHome h3{
    font-size: 21px;
}

.centerHome, .rightHome, .leftHome{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rightHome, .leftHome{
    padding-top: 65px;
}

footer{
    background-color: black;
    color: white;
    padding: 40px 60px;
    font-family: "Fredoka", sans-serif;
    line-height: 1.2em;
}

.footerInfo{
    font-size: 0.8em;
    margin-top: 12px;
    max-width: 800px;
}

.topAccount{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    background-color: #f1f1f1;
}

.topAccount h2{
    color: rgb(43, 9, 121);
    padding-bottom: 5px;
}

.accountForm{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftForm{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 23px;
}

.rightForm{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 23px;
}

.rightForm textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

form{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 23px;
    border: 2px solid;
    box-shadow: 15px 15px black;
    width: 1300px;
}

form input, form button{
    min-width: 30%;
    max-width: 600px;
}

form button{
    padding: 10px;
    font-weight: bold;
    background-color: lightgreen;
    font-size: 16px;
}

form button:hover{
    background-color: rgb(0, 171, 0);
}

form button:active{
    background-color: darkslategray;
}

form input{
    line-height: 200%;
}

form li, form h6, form h3{color: black;}
.short-spacer{height: 120px;}
form li{font-size: 1.1em;}

.msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}

.descRank{
    padding: 35px;
    background-color: #f1f1f1;
}

.descRank hr{
    margin: 15px 0;
}

li{
    margin-top: 4px;
}

.allItems{
    padding: 40px;
    display: flex;
    flex-direction: column;
}   

.allItems a{
    line-height: 2em;
    color: rgb(10, 0, 155);
}

.allItems p{
    margin: 5px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    background-color: #f1f1f1;
}

.intro hr{
    width: 90%;
}

.lightbox-ext{
    background-color: mediumslateblue;
    margin: 30px;
    padding: 10px;
}
